
/* bootstrap rule re-set */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}


.panel-body {
	background: #eee;
}

.panel {
	margin-bottom: 5px;
}

#soundboard_table {
	background: #eee;
}

#soundboard_table button {
	padding: 1px;
	border-radius: 0;
	min-width: 26px;
	text-align: center;
}

#soundboard_table .btn-light {
	background: transparent;
}

#soundboard_table .btn:hover {
	background: #666;
}


div.sound_device {
	margin-bottom: 8px;
	background: #eee;
}

#soundboard_table h3 {
	margin: 0;
	font-size: 12pt;
}

#soundboard_table p.item {
	white-space: nowrap;
	margin: 0;
	margin-bottom: 2px;
	font-size: 10pt;
}

#soundboard_table p.item:hover {
	background: #fff;
}

#soundboard_table p.playing,
#soundboard_table p.playing:hover {
	color: #262;
	background: #c0c0c0;
}

#soundboard_table .item .name {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	min-width: 120px;
	overflow: hidden;
}

#soundboard_table .item .volume {
	display: inline-block;
	min-width: 25px;
	text-align: left;
}

.button-block {
	display: inline-block;
	padding: 0;
	margin: 0 2px 5px;
	min-width: 115px;
}

.button-block > div {
	margin: 0;
	padding: 3px;
	color: #fff;
	font-weight: bold;
	background: #999;
}

.button-block > div button {
    color: initial;
    font-weight: initial;
    padding: 6px 6px;
    margin-top: 3px;
    min-width: 40px;
}

.action {
	font-size: 110%;
    padding: 6px 2px;
    margin-top: 3px;	

    width: 115px;
}

button.common {
	margin-bottom: 3px;
}

.status_on {
	background: #3d9e3d !important;
}

.status_off {
	background: #ce5151 !important;
}

.status_mid {
	background: #b79c09 !important;
}

.panel-heading, .panel-body {
	padding: 5px 10px 0px;
}

.col-md-6 {
	padding-left: 5px;
	padding-right: 5px;
}

.red {
	background: #ffaeae !important;
}

.green {
	background: #91e091 !important;
}