<!-- form id="audioUpload" method="POST" enctype="multipart/form-data">
  <div>
    {% for file in files %} {% if loop.first %}
    <input type="radio" name="file" value="{{ file }}" checked>{{ file }}
    <br> {% elif loop.last %}
    <input type="radio" name="file" value="{{ file }}">{{ file }} {% else %}
    <input type="radio" name="file" value="{{ file }}">{{ file }}
    <br> {% endif %} {% endfor %}
  </div>
  <div>
    {% for device in devices %} {% if loop.first %}
    <input type="radio" name="device" value="{{ device }}" checked>{{ device }}
    <br> {% elif loop.last %}
    <input type="radio" name="device" value="{{ device }}">{{ device }} {% else %}
    <input type="radio" name="device" value="{{ device }}">{{ device }}
    <br> {% endif %} {% endfor %}
  </div>
  <input type="file" accept="audio/*" name="file" />
  <button type="submit" id="audioSubmit">Отправить</button>
  <div>
    <div>
      <input type="radio" name="type" value="simplePlayer" checked> Обычный плеер <br>
      <input type="radio" name="type" value="backgroundMusic"> Фоновая музыка
    </div>
    <input type="text" name="playerName" />
    <button type="submit" id="playerCreate" formEnctype="application/x-www-form-urlencoded">Создать плеер</button>
  </div>
</form -->
