<div style="overflow-x:auto;" id="soundboard_table">
  <div>
    {% for pname, player in background_players.items() %}
      <div id="audio-{{ pname }}">
      <h3 class="head">{{ pname }}</h3>
      {% if player["audio_files"] %}
      {% for file in player["audio_files"] %}
      <p class="item" id="audio-{{ pname }}-{{ loop.index0 }}">
        <span class="name" title="{{ file.file_name }}">{{ file.file_name }}</span>
        <button type="button" id="play" class="btn btn-light" title="Play" onClick="bgPlayHandler('{{ pname }}', {{ loop.index0 }})">▶️</button>
        <button type="button" class="btn btn-light" onClick="bgVolumeDownHandler('{{ pname }}', {{ loop.index0 }})" style="padding: 1px 3px;">🔈</button>
        <span class="volume" id="volume-{{ pname }}-{{ loop.index0 }}">{{ file.volume }}</span>
        <button type="button" class="btn btn-light" onClick="bgVolumeUpHandler('{{ pname }}', {{ loop.index0 }})">🔊</button>
        <!-- button id="mute-{{ player.name }}" type="button" class="btn btn-light" onClick="bgMuteHandler('{{ pname }}', {{ loop.index0 }})"-- >🔇</button>  
        <!-- button type="button" class="btn btn-light" title="Stop" onClick="bgStopHandler('{{ pname }}', {{ loop.index0 }})">⏹️</button -->   
        <button type="button" class="btn btn-light" title="Stop" onClick="stopHandler('{{ pname }}')">⏹️</button>
        <span class="device dev-{{ file.device }}" id="device-{{ pname }}-{{ loop.index0 }}" title="{{ file.device }}">{{ file.device }}</span>
      </p>   
    {% endfor %}
    {% endif %}
    </div>
    {% endfor %}
    {% for pname, player in line_players.items() %}
    <div id="audio-{{ pname }}">
    <h3 class="head">{{ pname }}</h3>
    {% if player["audio_files"] %}
    {% for file in player["audio_files"] %}
    <p class="item" id="audio-{{ pname }}-{{ loop.index0 }}">
      <span class="name" title="{{ file.file_name }}">{{ file.file_name }}</span>
      <button type="button" id="play" class="btn btn-light" title="Play" onClick="bgPlayHandler('{{ pname }}', {{ loop.index0 }})">▶️</button>
      <button type="button" class="btn btn-light" onClick="bgVolumeDownHandler('{{ pname }}', {{ loop.index0 }})" style="padding: 1px 3px;">🔈</button>
      <span class="volume" id="volume-{{ pname }}-{{ loop.index0 }}">{{ file.volume }}</span>
      <button type="button" class="btn btn-light" onClick="bgVolumeUpHandler('{{ pname }}', {{ loop.index0 }})">🔊</button>
      <button id="mute-{{ player.name }}" type="button" class="btn btn-light" onClick="bgMuteHandler('{{ pname }}', {{ loop.index0 }})">🔇</button>  
      <button type="button" class="btn btn-light" title="Stop" onClick="stopHandler('{{ pname }}')">⏹️</button>
      <span class="device dev-{{ file.device }}" id="device-{{ pname }}-{{ loop.index0 }}" title="{{ file.device }}">{{ file.device }}</span>
    </p>   
    {% endfor %}
    {% endif %}
    </div>
    {% endfor %}
  </div>
  {% for devname, players in simple_players.items() %}
    <div class="sound_device">
      <h3 class="head">{{ devname }}</h3>
      {% for player in players %}
        <p class="item" id="audiofile-{{ player.name }}">
	  			<span class="name" title="{{ player.name}}">{{ player.name }}
	    +
				{% if player.file_name %}
            {{ player.file_name }}
          </span>
            <button type="button" id="play" class="btn btn-light" title="Play" onClick="playHandler(&quot;{{ player.name }}&quot;)">▶️</button>
            <!-- button type="button" id="play_repeat" class="btn btn-light" title="Play and Repeat" onClick="playRepeatHandler(&quot;{{ player.name }}&quot;)">↪️</button-->
            <button type="button" class="btn btn-light" title="Stop" onClick="stopHandler(&quot;{{ player.name }}&quot;)">⏹️</button>
            <button type="button" class="btn btn-light" onClick="volumeDownHandler(&quot;{{ player.name }}&quot;)" style="padding: 1px 3px;">🔈</button>
            <span class="volume" id="volume-{{ player.name }}">{{ player.volume }}</span>
            <button type="button" class="btn btn-light" onClick="volumeUpHandler(&quot;{{ player.name }}&quot;)">🔊</button>
            <button id="mute-{{ player.name }}" type="button" class="btn btn-light" onClick="muteHandler(&quot;{{ player.name }}&quot;)">🔇</button>
  			{% else %}
    			</span>
				{% endif %}
        </p>
      {% endfor %}
    </div>
  {% endfor %}

  
</div>
